body{
  text-align: center;
}
table, tr, td {
  border: solid 1px black;
  text-align: center;
}

td {
  padding : 5px;
}

#plateau {
  display: inline-block;
}

#form {
  margin: auto;
  margin-top: 15px;
}
